/* INITIAL STYLES */
body {
  color:#333;
  background:#EEE;
  font-size:14px;
  margin:0;
  padding:0;
}

body, button {
  font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color:#039;
  text-decoration:none;
}
a:hover { text-decoration:underline; }

button {
  outline:none;
  cursor:pointer;
}

.center { text-align:center; }
.clear:after {
  content:"";
  display:table;
  clear:both;
}


/* MENUS */
.menu {
  background:#FFF;
  border:1px solid #39C;
  max-width:1000px;
  margin:30px auto;
  position:relative;
  min-height:500px;
}

.menu-title {
  color:#FFF;
  background:#39C;
  font-size:24px;
  font-weight:bold;
  line-height:50px;
  padding:0 50px 0 10px;
  margin:0 0 10px 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.menu-option {
  color:#39C;
  background:transparent;
  border:1px solid #39C;
  font-size:20px;
  line-height:40px;
  width:60%;
  margin:20px auto;
  display:block;
}
.menu-option.red-option {
  color:#C33;
  border-color:#C33;
}

.menu-option:hover {
  color:#FFF;
  background:#39C;
}
.menu-option.red-option:hover { background-color:#C33; }

.menu-back {
  line-height:50px;
  height:50px;
  width:50px;
  background:#39C;
  border:none;
  padding:0;
  margin:0;
  position:absolute;
  top:0;
  right:0;
}
.menu-back:hover { background:#28B; }

.menu-text, .menu-list {
  font-size:16px;
  width:60%;
  margin:20px auto;
}

.menu-text img { max-width:100%; }
.menu-list li { margin:10px auto; }

.sub-title {
  color:#333;
  border-bottom:3px solid #333;
  font-size:18px;
  width:60%;
  padding:0 6px 6px 6px;
  margin:30px auto 10px auto;
}


/* MENU ICONS */
.icon-arrow {
  display:block;
  margin:0 auto;
  width:0;
  height:0;
  border-right:20px solid #FFF; 
  border-top:10px solid transparent;
  border-bottom:10px solid transparent; 
}

.icon-menu {
  display:block;
  height:0px;
  width:30px;
  margin:0 auto;
  border-bottom:5px solid #FFF;
  position:relative;
}

.icon-menu:before, .icon-menu:after {
  content:"";
  position:absolute;
  left:0;
  width:30px;
  border-bottom:5px solid #FFF;
}

.icon-menu:before { top:-10px; }
.icon-menu:after { bottom:-15px; }


/* GAME BOARD */
#game-board {
  margin:30px auto;
  text-align:center;
}

#game-turn {
  font-size:28px;
  text-align:center;
}

#game-score {
  font-size:24px;
  text-align:center;
  margin-top:20px;
}

.score-cell {
  width:33.33%;
  float:left;
}

.square {
  width:100px;
  height:100px;
  position:relative;
  display:inline-block;
  cursor:pointer;
}
.square.marked { cursor:default; }

.square span, .square:after {
  font-size:64px;
  line-height:100px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.turn-x .square:hover:after { content:"X"; }
.turn-o .square:hover:after { content:"O"; }
#game-board .square.marked:after { content:""; }

.mark-x, .turn-x .square:hover:after { color:#39C; }
.mark-o, .turn-o .square:hover:after { color:#C33; }

.row {
  height:100px;
  width:306px;
  margin:0 auto;
}
.game-over .row, .single-player.turn-o .row { pointer-events:none; }

#row1, #row2 {
  border-top:3px solid #666;
}

#s1, #s2, #s4, #s5, #s7, #s8 {
  border-right:3px solid #666;
}


/* ADS */
.ad-container {
  text-align:center;
  margin-top:80px;
  margin-bottom:20px;
}

/* RESPONSIVENESS */
@media (max-width:1000px) {
  .menu { margin:0; }
}

@media (max-width:800px) {
  .menu-title { font-size:20px; }
  
  .menu-option, .menu-text, .menu-list, .sub-title {
    width:90%;
  }
}